{% extends "videos/base.html" %}

{% load i18n %}

{% block content %}
    <h1>Список видеозаписей</h1>
    <div class="text-right">
        <a class="btn btn-primary" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add video'%}
        </a>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "UUID" %}</th>
                <th>{% trans "Video category" %}</th>
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Preview" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for video in video_list %}
                <tr>
                    <td>{{ video.id }}</td>
                    <td>{{ video.category }}</td>
                    <td>{{ video.get_duration_display }}</td>
                    <td>{% if video.preview %}<img src="{{ video.preview.url }}" class="video_preview"/>{% endif %}</td>
                    <td>{{ video.get_status_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
